@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.register-container-main {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #41bc3f;
    font-family: 'Poppins', sans-serif;
}

.register-card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-img-background {
    position: relative;
}
.register-img-background .img-background {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
}
.register-container-sub {
    width: 80vw;
    height: 80vh;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 25% 75%;
    grid-gap: 7rem;
    padding: 0 2rem;
}
.register-form-content {
    position: relative;
}
.register-img-content img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register-form {
    width: 35%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.register-form img {
    width: 10vw;
    height: 10vh;
}
.register-form h2 {
    font-size: 200%;
    text-transform: uppercase;
    margin: 15px 0;
    color: #555;
}
.register-form .input-div {
    display: grid;
    grid-template-columns: 7% 93%;
}
.register-form .input-div .input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    color: #555;
    border-bottom: 2px solid #d9d9d9;
}
.register-form .input-div i {
    color: #999;
    margin-top: 40%;
}
.input.name:hover,
.input.name:focus,
.input.email:hover,
.input.email:focus,
.input.password:hover,
.input.password:focus,
.input.confirm-password:hover,
.input.confirm-password:focus {
    border-bottom: 2px solid #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-color: none;
    transition: 0.5s;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #41bc3f;
    border-right-width: 1px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    text-align: left;
    color: #555;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    z-index: 1;
}
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    outline: 0;
}
.ant-checkbox-wrapper {
    padding: 0;
    color: #999;
}
.register-form .button-submit {
    display: block;
    width: 100%;
    height: 6vh;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #41bc3f, #55c653, #41bc3f);
    background-size: 200%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 2% 0;
    cursor: pointer;
    transition: 0.5s;
    background-color: #41bc3f;
    font-size: medium;
}
.register-form .button-submit:hover {
    background-position: right;
}

.register-form .have-an-account {
    text-align: center;
    color: #999;
    a {
        text-decoration: underline;
        color: #41bc3f;
    }
}

.ant-form-item-explain-error {
    color: #ff4d4f;
    text-align: left;
}
@media screen and (max-width: 1050px) {
    .register-container-sub {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .register-form-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
}

@media screen and (max-width: 900px) {
    .register-container-sub {
        grid-template-columns: 1fr;
    }
    .register-img-background {
        display: none;
    }
    .img-background {
        display: none;
    }

    .register-form-content {
        justify-content: center;
    }
}
