.page-404 {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__title {
        font-size: 6rem !important;
        color: #41bc3f;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__background {
        margin: 0 auto 0 auto;

        img {
            height: 80vh;
            width: 60vw;
        }
    }
    &__content {
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translateX(-50%);
        text-align: center;
        &__h3 {
            margin: auto;
            font-weight: bold;
            font-size: 2.6rem;
        }
        &__p {
            margin: auto;
            font-size: 1.3rem;
        }
        &__link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #39ac31;
            margin-top: 5vh !important;
            width: fit-content;
            display: grid;
            margin: auto;
            font-size: 1.25rem;
        }
    }
}
