* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    // font-size: 1.1rem;
}
.ant-select-single .ant-select-selector {
    border-radius: 0 !important;
    background-color: #fff !important;
}
.change-password-content {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;

    &__sub {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__info {
            width: 50%;
            margin: 10% auto 0 auto;
            &__item {
                height: 8vh;
                display: grid;
                padding: auto 0;
                grid-template-columns: 40% 60%;

                .span {
                    font-weight: bold;
                    text-align: right;
                    margin-top: 5px;
                    font-size: 1.1rem;
                    width: 13vw;
                    // color: #555;
                }
                .textarea {
                    height: 15vh !important;
                }
                .text {
                    border-color: #41bc3f !important;
                }

                .textarea:hover {
                    box-shadow: 0 0 3px #41bc3f !important;
                }

                .textarea:hover {
                    box-shadow: 0 0 3px #41bc3f !important;
                    border-color: #41bc3f !important;
                }
            }
        }
        &__button {
            margin: 7% auto;
            button {
                margin: 0 20px;
                width: 7vw;
                height: 5vh;
                border: none;
                border-radius: 20px;
                color: #000;
                font-size: 1.1rem;
                text-align: center;
                cursor: pointer;
            }

            .button-cancel {
                background-color: #c0c0c0;
                a {
                    color: #000;
                }
            }

            .button-cancel:hover {
                box-shadow: 0 0 5px #777;
                background-color: #777;
                color: #fff;
            }

            .button-save {
                background-color: #b4e2b3;
            }

            .button-save:hover {
                box-shadow: 0 0 5px #41bc3f;
                background-color: #41bc3f;
            }
        }
    }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    z-index: 1;
}
