body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 1.5% 0;
    color: #41bc3f;
    font-weight: bold;
}
.button-green {
    margin: 0 20px;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    background-color: #b4e2b3;
}
.button-green:hover {
    box-shadow: 0 0 5px #41bc3f;
    background-color: #41bc3f;
    color: #fff;
}
.button-gray {
    margin: 0 20px;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    background-color: #c0c0c0;
}
.button-gray:hover {
    box-shadow: 0 0 5px #777;
    background-color: #777;
    color: #fff;
}
