root {
    overflow: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.body-wrapper {
    height: 100%;
    position: relative;
}

.content-wrapper {
    height: 100%;
}

.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    &__content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-rows: 7% auto;
        background-color: #41bc3f;
        &__header {
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        &__main {
            width: 100%;
            height: 100%;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-x: hidden;
            overflow-y: auto;
            &__component {
                width: 100%;
                height: 100%;
                padding: 2.5%;
                position: relative;
            }
            &__footer {
                width: 100%;
                height: 5%;
            }
        }
    }
}

.collapsed {
    grid-template-columns: 5% auto !important;
}
